/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}

.login--weight {
	font-weight: 600;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin-left: 50px;
}

.intro__image {
	width: 80%;
}

#introduction div {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}


.header__admin {
	display: none;
	justify-content: center;
	align-items: center;
	background-color:  #000000;
	height: 60px;
	gap: 21px;
}

.header__admin__edit {
	display: flex;
	align-items: center;
	gap: 10px;
}

.admin__edit__icon {
	background-color: black;
}

.header__admin__text {
	color: #FFFFFF;
}

.header__admin-btn {
	font-family: 'Work Sans';
	border: none;
	border-radius: 60px;
	width: 216px;
	height: 38px;
	background: #FFFFFF;
	cursor: pointer;
}


.portfolio__title {
	display: flex;
	justify-content: center;
	gap: 31px;
}

.intro__edit__hidden {
	display: none;
	align-items: center;
	margin-top: 15px;
	padding-bottom: 28px;
	border: none;
	background: #FFFFFF;
	gap: 11px;
	cursor: pointer;
}

.intro__edit__text {
	margin-top: 5px;
}

.edit__hidden {
	display: none;
	align-items: center;
	border: none;
	background: #FFFFFF;
	padding-bottom: 28px;
	gap: 11px;
	cursor: pointer;
}

.edit__icon {
	width: 20px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 51px;
}

.category-btn {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	padding-left: 15px;
	padding-right: 15px;
	height: 37px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	background-color: white;
	cursor: pointer;
}

.category__background-green {
	color: white;
    background-color: #1D6154;
}

.category-btn:hover {
	color: white;
	background-color:#1D6154;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>*,
.form__link {
	text-align: center;

}

.form__link {
	color: #3D3D3D;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.modal-content {
	display: flex;
	flex-direction: column;
	width: 630px;
	height: 731px;
	border-radius: 10px;
	background-color: white;
	opacity: 1;
}

.btn {
	align-self: flex-end;
	margin-top: 32px;
	margin-right: 36px;
	margin-left: 30px;
	width: 25px;
	height: 25px;
	border: none;
	background-color: #ffff;
	cursor: pointer;
}

.modal__title {
	font-family: 'Work Sans';
	font-size: 26px;
	margin-top: 16px;
	font-weight: 400;
	color: black;
}

.modal__images__container {
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	width: 450px;
	height: 400px;
	margin: 22px 0px 0px 100px;
	gap: 20px;
}

.modal__images__card {
	position: relative;
	width: 71px;
	height: 104px;
}

.modal__images-size {
	width: 100%;
	height: 100%;
}

.delete__image-btn {
	position: absolute;
	top: 6px;
	right: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 19px;
	height: 19px;
	background: #000000;
	border-radius: 2px;
	border: none;
	cursor: pointer;
}

.modal__move-btn {
	opacity: 0;
	position: absolute;
	transform: translate(-250%, 30%);
	width: 19px;
	height: 19px;
	padding-top: 2px;
	background: #000000;
	border-radius: 2px;
	border: none;
	cursor: pointer;
}

.modal__images__card:hover .modal__move-btn {
	opacity: 1;
}

.modal__border {
	align-self: center;
	border: 1px solid #B3B3B3;
	width: 420px;
	margin-top: 47px;
}

.modal__footer {
	align-self: center;
}


.modal__add-btn {
	font-size: 14px;
	width: 237px;
	height: 36px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: 'Syne';
	color: white;
	background-color: #1D6154;
	border-radius: 60px;
	margin-top: 38px;
	margin-bottom: 23px;
	cursor: pointer;
}

.modal__hidden-btn {
	align-self: center;
	background: #A7A7A7;
}


.modal__galery-delete {
	text-align: center;
	color: #D65353;
	cursor: pointer;
}

.nav__login {
	margin-bottom: 100px;
}

.section__contact {
	padding-bottom: 200px;
}

#invalid__email, #invalid__password {
	margin-top: 7px;
	color: red;
}

.modal__content__hidden {
	display: none;
	flex-direction: column;
	width: 630px;
	height: 731px;
	border-radius: 10px;
	background-color: white;
	opacity: 1;
}

.modal__header {
	display: flex;
	justify-content: space-between;
}

.close-btn {
	background: url('../assets/icons/cross.svg') no-repeat;
}

.upload__container {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 420px;
	margin-bottom: 30px;
	border-radius: 3px;
}

.upload__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E8F1F7;
	height: 169px;
	margin-bottom: 30px;
}

.upload__label {
	display: flex;
	justify-content: center;
	padding-top: 12px;
	margin-top: 20px;
	font-family: 'Work Sans';
	width: 173px;
	height: 30px;
	background-color: #CBD6DC;
	color: #306685;
	border: none;
	border-radius: 50px;
}

.upload__icon {
	width: 58px;
	height: 46px;
	margin-top: 20px;
}

.upload-btn {
	display: none;
}

.upload__subtext {
	font-size: 10px;
	color: #444444;
	text-align: center;
	margin-top: 7px;
}

.upload__noimage {
	display: none;
	font-size: 10px;
	margin-top: 5px;
}

.uploaded__photo{
	display: none;
	width: 129px;
	height: 169px;
	object-fit: cover;
}

#title, #category {
	font-family: 'Work Sans';
	width: 420px;
	height: 51px;
	margin-top: 10px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	color: #444444;
	border: none;
	outline: none;
}

.title__empty {
	display: none;
	color: red;
	margin-bottom: 20px;
}

.select__category {
	font: 14px 'Work Sans';
	background: #FFFFFF;
}

.modal__label {
	font-weight: 500;
	font-size: 14px;
	color: #3D3D3D;
}

#title {
	margin-bottom: 21px;
}
